name: Build and Release

on:
  push:
    tags:
      - 'v*'
  workflow-dispatch:
    #on:
    #release:
    #types: [ published ]
    #branches: [ main ]
    #workflow_dispatch:

jobs:
  build-and-release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.10"

      - name: Install poetry and dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install poetry scriv

      - name: Configure poetry
        env:
          pypi_token: ${{ secrets.PYPI_TOKEN }}
        run: poetry config pypi-token.pypi $pypi_token

      - name: Build and publish
        run: poetry publish --build

      - name: Create Github Release with scriv
        id: create_release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          $GITHUB_TOKEN > ~/.netrc
          scriv github-release
        with:
          tag_name: ${{ github.ref }}
          release_name: ${{github.ref }}
          draft: false
          prerelease: false
